[submodule "src/belt.pp/belt.pp"]
	path = src/belt.pp
	url = https://github.com/PubliqNetwork/belt.pp
[submodule "src/mesh.pp"]
	path = src/mesh.pp
	url = https://github.com/PubliqNetwork/mesh.pp
[submodule "belt.pp"]
	path = src/belt.pp
	url = https://github.com/PubliqNetwork/belt.pp
[submodule "src/cmake_utility"]
	path = src/cmake_utility
	url = https://github.com/PubliqNetwork/cmake_utility
