[submodule "src/belt.pp"]
	path = src/belt.pp
	url = https://github.com/publiqnet/belt.pp
[submodule "src/mesh.pp"]
	path = src/mesh.pp
	url = https://github.com/publiqnet/mesh.pp
[submodule "src/cmake_utility"]
	path = src/cmake_utility
	url = https://github.com/publiqnet/cmake_utility
